.appoint__section {
    padding: 100px 500px 100px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
  }

  .appoint__heading {
    color: #004F98;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }



